<a href="https://colab.research.google.com/github/carlosbourque/curso-python/blob/master/Ejercicios_bloqueI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bloque I

A continuación, se incluye una serie de ejercicios relativos al primer bloque del curso.

**NOTA:**
Todos los ejercicios se estructuran de la siguiente forma:


1.   Enunciado: Se expone lo que se requiere hacer
2.   Tu Implementación: Celda de código para que resuelvas el ejercicio
3.   Validación: se usa el método `assert` para comprobar que has completado el ejercicio correctamente.

¿Como funciona `assert`?
Este método evalua una igualdad, por ejemplo si realizamos la siguiente igualdad:
```
1 == 1
```
El resultado de `assert` será True y por lo tanto OK.
Sin embargo, para la siguiente igualdad:
```
1 == 2
```
`assert` devolverá [`AssertionError`](https://docs.python.org/3/library/exceptions.html#AssertionError), por lo tanto el ejercicio no está correctamente resuelto y tenemos que seguir trabajando en él.

## Ejercicio 1

Sustituye los espacios `____` por los siguientes métodos de `string`:
 * `lower_cased`
 * `stripped` 
 * `stripped_lower_case`

In [ ]:
original = ' Python strings are COOL! '
lower_cased = original.lower()
stripped = original.strip()
stripped_lower_cased = original.strip().lower()

Vamos a comprobar que los resultados son correctos si al ejecutar la siguiente celda se lanzan `AssertionError` si alguna de las funciones no son iguales.

In [ ]:
assert lower_cased == ' python strings are cool! '
assert stripped == 'Python strings are COOL!'
assert stripped_lower_cased == 'python strings are cool!'

## Ejercicio 2:

Usa los métodos de str (que puedes consultar [aquí](https://docs.python.org/es/3/library/stdtypes.html#string-methods)) para transformar `ugly` en `pretty`

In [ ]:
ugly = ' tiTle of MY new Book\n\n'

# Your implementation:
pretty = ugly.title().replace('\n', '').strip()

Vamos a asegurarnos que lo hemos hecho bien. Para ello usamos [`AssertionError`](https://docs.python.org/3/library/exceptions.html#AssertionError) si el `assert`no es `True`.

In [ ]:
print('pretty: {}'.format(pretty))
assert pretty == 'Title Of My New Book'

pretty: Title Of My New Book

## Ejercicio 3

Crea la siguiente fórmula en Python:
\begin{align}
 result = 6a^3 - \frac{8b^2 }{4c} + 11
\end{align}

In [ ]:
a = 2
b = 3
c = 2

result = (6 * (a ** 3)) - ((8 * (b**2))/(4 * c)) + 11

Comprobemos que los has hecho OK:

In [ ]:
assert result == 50

## Ejercicio 4:

A continuación, rellena los huecos `___`:

AYUDA: Visita la [documentación de Python](https://docs.python.org/es/3/tutorial/datastructures.html) donde podrás consultar todos los métodos disponibles para las listas.

In [ ]:
# Crea una lista vacia:
my_list = []

# Añade los siguientes valores a tu lista:
my_list.append('Python')
my_list.append('is ok')
my_list.append('sometimes')

# Elimina el elemento cuyo valor es: 'sometimes'
my_list.remove('sometimes')

# Modifica el segundo elemento:
my_list[1] = 'is neat'

Comprobemos que has realizado el ejercicio OK:

In [ ]:
assert my_list == ['Python', 'is neat']

## Ejercicio 5:

Crea una lista de `string` a partir de una lista de números utilizando el siguiente criterio:


*   Si el número es múltiplo de 5 e impar, el valor del `string` debe ser 'five odd'
*   Si el número es múltiplo de 5 y par, el valor del `string` debe ser 'five even'

*   Si el número es impar, el valor del `string` debe ser 'odd'
*   Si el número es par, el valor del `string` debe ser 'even'


NOTA: Para crear dicha lista tendrás que iterar en un bucle for, evaluar el valor de cada elemento y sustituirlo por su valor correspondiente en base a unas sentencias if.

In [30]:
numbers = [1, 3, 4, 6, 81, 80, 100, 95]


# TODO:
my_list = []

for number in numbers:
  if number % 2 == 1:
    value = 'odd'
  else:
    value = 'even'

  if number % 5 == 0:
    value = 'five ' + value
  
  my_list.append(value)



my_list

['odd', 'odd', 'even', 'even', 'odd', 'five even', 'five even', 'five odd']

Comprobemos que la implementación es correcta para el input dado:

In [31]:
assert my_list == ['odd', 'odd', 'even', 'even', 'odd', 'five even', 'five even', 'five odd']

## Ejercicio 6:

Mergea las siguientes listas para formar una sola y ordenala de mayor a menor:

In [33]:
list1 = [6, 12, 5]
list2 = [6.2, 0, 14, 1]
list3 = [0.9]

In [42]:
# TODO:
my_list = list1 + list2 + list3
my_list.sort(reverse=True)

my_list

[14, 12, 6.2, 6, 5, 1, 0.9, 0]

Comprobemos que has realizado el ejercicio OK:

In [43]:
print(my_list)
assert my_list == [14, 12, 6.2, 6, 5, 1, 0.9, 0]

[14, 12, 6.2, 6, 5, 1, 0.9, 0]

## Ejercicio 7:

Rellena los `___` del siguiente código:

In [44]:
words = ['PYTHON', 'JOHN', 'chEEse', 'hAm', 'DOE', '123']
upper_case_words = []

for word in words:
    if word.isupper():
        upper_case_words.append(word)

Comprobemos que la implementación es correcta para el input dado:

In [45]:
assert upper_case_words == ['PYTHON', 'JOHN', 'DOE']

## Ejercicio 8:

Crea tu primer diccionario a partir de estos campos:
```
first_name = 'John'
last_name = 'Doe'
favorite_hobby = 'Python'
sports_hobby = 'gym'
age = 82
```

In [50]:
first_name = 'John'
last_name = 'Doe'
favorite_hobby = 'Python'
sports_hobby = 'gym'
age = 82

my_dict = { 'name' : first_name + ' ' + last_name, 'age' : age, 'hobbies' : [favorite_hobby, sports_hobby] }

print(my_dict)

{'name': 'John Doe', 'age': 82, 'hobbies': ['Python', 'gym']}

Comprobemos que lo has hecho OK:

In [51]:
assert my_dict == {
        'name': 'John Doe',
        'age': 82,
        'hobbies': ['Python', 'gym']
    }

## Ejercicio 9:

Combina ` dict2` y `dict3` en` my_dict`. 

Además, a partir del valor de `special_key` de` my_dict`, crea una variable que se llame `special_value`. 

Tenga en cuenta que los diccionarios originales deben permanecer intactos y la `special_key` debe eliminarse de` my_dict`.

In [52]:
# Distintas formas de iniciar diccionarios:
dict2 = {'key1': 123, 'special_key': 'secret'}
dict3 = dict([('key2', 456), ('keyX', 'X')])

In [60]:
# TODO:
my_dict = dict2.copy()
my_dict.update(dict3)

special_value = my_dict.pop('special_key')

print(my_dict)
print(special_value)

{'key1': 123, 'key2': 456, 'keyX': 'X'}
secret

Comprobemos que lo has hecho OK:

In [61]:
assert my_dict == {'key1': 123, 'key2': 456, 'keyX': 'X'}
assert special_value == 'secret'

# comprobemos que los originales no se han modificado:
assert dict2 == {'key1': 123, 'special_key': 'secret'}
assert dict3 == {'key2': 456, 'keyX': 'X'}

## Ejercicio 10:

Calcula la suma de los valores numericos de `magic_dict`. 

NOTA: echa un vistazo al método de Python [isinstance](https://docs.python.org/3/library/functions.html#isinstance).

In [ ]:
magic_dict = dict(val1=44, val2='secret value', val3=55.0, val4=1)

# TODO:
suma =

Comprobemos que la implementación es correcta para el input dado:

In [ ]:
assert suma == 100

## Ejercicio 11:

Crea una función que devuelve la mediana de una lista de 3 números:

NOTA: la mediana es el valor que esta en el centro de una lista ordenada de menor a mayor de números, por ejemplo:
```python
10, 33, 45, 54, 32, 45, 89 -> mediana = 54
```

NOTA2: para ordenar una lista en Python, echa un vistazo al método [sorted()](https://docs.python.org/es/3/howto/sorting.html).

In [ ]:
# TODO:
def mediana

Comprobemos que lo has hecho OK:

In [ ]:
assert mediana([9, 10, 11]) == 10
assert mediana([1, 5, 11]) == 5
assert mediana([10, -100, 0]) == 0

## Ejercicio 12:

Crea una función que devuelve una lista con la sequencia de números al reves, por ejemplo:
```
cuenta_atras(4) -> [4, 3, 2, 1, 0]

In [ ]:
# TODO:
def cuenta_atras(num):

Comprobemos que lo has hecho OK:

In [ ]:
assert cuenta_atras(0) == [0]
assert cuenta_atras(-5) == [0, -1, -2, -3, -4, -5]
assert cuenta_atras(5) == [5, 4, 3, 2, 1, 0]

## Ejercicio 13:

Crea una función que devuelve la última y primera posición en la que aparece un caracter o cadena de caracteres en un texto, por ejemplo:
```
encuentra_ultimo('abba', 'a') -> [3, 0]
```

AYUDA: investiga los métodos de [string](https://docs.python.org/es/3/library/stdtypes.html#string-methods) para ver si te puedes apoyar en algunos de los métodos ya construidos para esta operación.

In [ ]:
# TODO:
def encuentra_ultimo(texto, caracteres):

Comprobemos que lo has hecho OK:

In [ ]:
assert encuentra_ultimo('abba', 'a') == [3, 0]
assert encuentra_ultimo('aaviaavia', 'aa') == [4, 0]
assert encuentra_ultimo('123412341234', '4') == [11, 3]

## Ejercicio 14:

Crea una función que imprime una tabla de multiplicación, por ejemplo:
```
print_multiplication_table(2)

['1 x 1 = 1', '1 x 2 = 2', '2 x 1 = 2', '2 x 2 = 4']
```

In [ ]:
# TODO:
def print_multiplication_table(num):
    results = []  
    numbers = range(1, num + 1)
    for i in numbers:
        for j in numbers: 
            results.append(f'{i} x {j} = {i*j}')
    return results

print_multiplication_table(1)

Comprobemos que lo has hecho OK:

In [ ]:
assert print_multiplication_table(3) == ['1 x 1 = 1',  '1 x 2 = 2',  '1 x 3 = 3',  '2 x 1 = 2',  '2 x 2 = 4',  '2 x 3 = 6',  '3 x 1 = 3',  '3 x 2 = 6',  '3 x 3 = 9']
assert print_multiplication_table(1) == ['1 x 1 = 1']

## Ejercicio 15:

Completa la siguiente función rellenando los huecos `___`:

In [ ]:
____ count_even_numbers(numbers):
    count = 0
    for num in ____:
        if ____ % 2 == ____:
            count += ____
    _____ _____

Comprobemos que has realizado el ejercicio OK:

In [ ]:
assert count_even_numbers([1, 2, 3, 4, 5, 6]) == 3
assert count_even_numbers([1, 3, 5, 7]) == 0
assert count_even_numbers([-2, 2, -10, 8]) == 4

## Ejercicio 16:

Crea una función que se llame `promedio_size_palabras` y que devuelve el tamaño medio de las palabras que hay en un texto. Por ejemplo:
```python
# la media de una palabra de 4 caracteres ('hola') + otra de 2 caracteres ('es') es 3:
promedio_size_palabras('hola es', ' ') -> 3
```

IMPORTANTE: las palabras pueden venir separadas por los siguientes separadores: ` `, `|`, `***`. Con lo cual, la función debe tener un argumento para gestionar esas situaciones:

In [ ]:
# TODO:

Comprobemos que has realizado el ejercicio OK:

In [ ]:
assert promedio_size_palabras('only four lett erwo rdss') == 4
assert promedio_size_palabras('one***two***three', '***') == 3.7
assert promedio_size_palabras('one|two|three|four', '|') == 3.8
assert promedio_size_palabras('') == 0

## Ejercicio 17:

Arregla la siguiente función de manera que se cumpla:
```
procesamiento(12, 'hola') == 'hola'
procesamiento(15, 'adla') == 'positive number'
procesamiento(-15, 'ñora') == 'ñora-8'
procesamiento(-1, 'Año') == 'oñ'
procesamiento(-1, 'alla') == 'adios'
procesamiento(5, 'españa') == 'eeeee'
procesamiento(5, 'españa') == 'españa'
```

Tienes que sustituir los campos `___` por lo que corresponda.

In [ ]:
# TODO
def procesamiento(num, texto):
    if num < 0:
        num += 7
        if 'o' in texto and num >= 0:
            return texto[::-1][:2] 
        elif num >= 0:
            return ___
        else:
            return texto + str(num) 
    elif texto[:2] == 'ad':
        if num > 0 or num == 0:
            return ___
    else:
        if 'ñ' in texto:
            if num > 10:
                return texto
            return texto[0]*num
        else:
            return ___

procesamiento(12, 'hola')

Comprobemos que la implementación es correcta para el input dado:

In [ ]:
assert procesamiento(12, 'hola') == 'hola'
assert procesamiento(15, 'adla') == 'positive number'
assert procesamiento(-15, 'ñora') == 'ñora-8'
assert procesamiento(-1, 'Año') == 'oñ'
assert procesamiento(-1, 'alla') == 'adios'
assert procesamiento(5, 'españa') == 'eeeee'
assert procesamiento(15, 'españa') == 'españa'

## Ejercicio 18:

Crea una función que devuelva un diccionario donde las `keys` son los elementos únicos que hay en la lista y los valores asociados, el número de veces que aparecen repetidos. Por ejemplo:
```
summary(['hola', 'hola', 'adios']) -> {'hola': 2, 'adios': 1}
```

In [ ]:
# TODO
def summary

Comprobemos que la implementación es correcta para el input dado:

In [ ]:
assert summary(['hola', 'hola', 'adios']) == {'hola': 2, 'adios': 1}
assert summary(['a', 'b', 'b', 'a', 'c']) == {'a': 2, 'c': 1, 'b': 2}

## Ejercicio 19:

Crea funciones lambda (`lambda_F` y `lambda_C`) a partir de estas funciones que convierten temperaturas entre sistemas de unidades:
```python
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
 
def celsius(T):
    return (float(5)/9)*(T-32)
```

y a continuación, usa `map` para convertir listas de temperaturas de celsius a fahrenheits y viceversa. Por ejemplo:
```python
C = [39.2, 36.5, 37.3, 38, 37.8] 
F = list(map(lambda_F, C))
print(F)

# output: [102.56, 97.7, 99.14, 100.4, 100.03999999999999]
```

In [ ]:
# TODO:
lambda_C = 
lambda_F =

Comprobemos que lo has hecho OK:

In [ ]:
assert list(map(lambda_F, [39.2, 36.5, 37.3, 38, 37.8])) == [102.56, 97.7, 99.14, 100.4, 100.03999999999999]
assert list(map(lambda_C, [100, 110, 120 , 140])) == [37.77777777777778, 43.333333333333336, 48.88888888888889, 60.0]

## Ejercicio 20:

Utiliza los operadores reduce y lambda para concatenar cadenas de texto. Por ejemplo:
```
input: ['hola', 'que', 'tal', 'estas'] -> output: 'holaquetalestas'
input: ['me', 'gusta', 'python'] -> output: 'megustapython'
```

In [ ]:
import functools

input = ['adios', 'hola', 'adios']
j = #TODO

Comprobemos que la implementación es correcta para el input dado:

In [ ]:
assert j = 'adiosholaadios'

## Ejercicio 21:

A continuación, tienes que encontrar los 3 errores que tiene el siguiente código para que funcione.

La función debe arrojar los siguientes resultados:
```python
crea_diccionario(['a', 'b', 'c'], [1, 2, 3]) -> {'a': 1, 'b': 6, 'c': 7}
crea_diccionario(['Python', 'is', 'Great!'], [-10, 0, 10]) -> {'Great!': 14, 'Python': -10, 'is': 0}
crea_diccionario(['hola', 'que', 'tal', 'estas?'], [0, 1, 2, 3]) -> {'estas?': 7, 'hola': 0, 'que': 1, 'tal': 6}
```

In [ ]:
# TODO: identifica los 3 errores en la función:
def crea_diccionario(llaves, valores):
    resultado = []
    for idx, llave in enumerate(llaves):
        valor = valores[idx]
        if valor == 2:
             resultado[llave] = valor + 4
        else:
            resultado[llave] = valor
    return resultado

Comprobemos que has realizado el ejercicio OK:

In [ ]:
assert crea_diccionario(['a', 'b', 'c'], [1, 2, 3]) == {'a': 1, 'b': 6, 'c': 7}
assert crea_diccionario(['Python', 'is', 'Great!'], [-10, 0, 10]) == {'Great!': 14, 'Python': -10, 'is': 0}
assert crea_diccionario(['hola', 'que', 'tal', 'estas?'], [0, 1, 2, 3]) == {'estas?': 7, 'hola': 0, 'que': 1, 'tal': 6}

## Ejercicio 22:

Completa los `___` en el código a continuación. La función `sum_of_list` debe sumar todos los elementos en una lista y cuando alguno de estos elementos no es numérico, debe ignorarlo y continuar:

In [ ]:
# TODO: 
def sum_of_list(values):
    ____ = 0
    for val in values:
        ____:
            numeric_val = float(val)
        ____ ____ as e:
            ____
        ____ += numeric_val
    return ____

Comprobemos que has realizado el ejercicio OK:

In [ ]:
list1 = [1, 2, 3]
list2 = ['1', 2.5, '3.0']
list3 = ['', '1']
list4 = []
list5 = ['John', 'Doe', 'was', 'here']
nasty_list = [KeyError(), [], dict()]

assert sum_of_list(list1) == 6
assert sum_of_list(list2) == 6.5
assert sum_of_list(list3) == 1
assert sum_of_list(list4) == 0
assert sum_of_list(list5) == 0
assert sum_of_list(nasty_list) == 0